---
http_interactions:
- request:
    method: post
    uri: https://api.postalmethods.com/PostalWS.asmx
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<env:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n
        \   xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\n    xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\">\n
        \ <env:Body>\n    <n1:CancelDelivery xmlns:n1=\"PostalMethods\">\n      <n1:Username>chipcastle</n1:Username>\n
        \     <n1:Password>Hedu0910</n1:Password>\n      <n1:ID>3294506</n1:ID>\n
        \   </n1:CancelDelivery>\n  </env:Body>\n</env:Envelope>"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Soapaction:
      - ! '"PostalMethods/CancelDelivery"'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><CancelDeliveryResponse
        xmlns="PostalMethods"><CancelDeliveryResult>-3000</CancelDeliveryResult></CancelDeliveryResponse></soap:Body></soap:Envelope>
  recorded_at: Mon, 03 Nov 2014 22:36:29 GMT
recorded_with: VCR 2.9.3
