---
http_interactions:
- request:
    method: post
    uri: https://api.postalmethods.com/PostalWS.asmx
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<env:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n
        \   xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\n    xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\">\n
        \ <env:Body>\n    <n1:GetLetterStatusV2_Multiple xmlns:n1=\"PostalMethods\">\n
        \     <n1:Username>postalmethods-gem</n1:Username>\n      <n1:Password>secret</n1:Password>\n
        \     <n1:ID>3294642,3294643,3294644</n1:ID>\n    </n1:GetLetterStatusV2_Multiple>\n
        \ </env:Body>\n</env:Envelope>"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Soapaction:
      - ! '"PostalMethods/GetLetterStatusV2_Multiple"'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetLetterStatusV2_MultipleResponse
        xmlns="PostalMethods"><GetLetterStatusV2_MultipleResult><ResultCode>-3000</ResultCode><LetterStatuses><LetterStatusAndDesc><ID>3294642</ID><Status>-910</Status><Description>In
        Process</Description><LastUpdateTime>2014-11-03T17:06:19</LastUpdateTime></LetterStatusAndDesc><LetterStatusAndDesc><ID>3294643</ID><Status>-910</Status><Description>In
        Process</Description><LastUpdateTime>2014-11-03T17:06:22</LastUpdateTime></LetterStatusAndDesc><LetterStatusAndDesc><ID>3294644</ID><Status>-910</Status><Description>In
        Process</Description><LastUpdateTime>2014-11-03T17:06:24</LastUpdateTime></LetterStatusAndDesc></LetterStatuses></GetLetterStatusV2_MultipleResult></GetLetterStatusV2_MultipleResponse></soap:Body></soap:Envelope>
  recorded_at: Mon, 03 Nov 2014 23:06:26 GMT
recorded_with: VCR 2.9.3
